<h1> My succulents catalog </h1>

<section> What would you like to do? </section>

<nav>
    <div class="buttons">
        <button type="button" routerLink="/see-all"> See all succulents </button>
        <button type="button" routerLink="/add"> Add a new succulent </button>
    </div>
    <div class="search">
        <label> Search by species or genre: </label>
        <input type="text" placeholder="Type succulent species or genre">
        <button type="button" routerLink="/result"> Go! </button>
    </div>
</nav>